/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.libs
/.vscode
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile.in
/TAGS
/_libs
/libgail.la
/so_locations
/tags
aclocal.m4
atk-cocoa/acmarshal.c
atk-cocoa/acmarshal.h
atk-cocoa/libatkcocoa.so
atk-cocoa/stamp-acmarshal.h
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
install-sh
missing
stamp-h1
compile
